/* Variables */
html {
    --fons: #272727;
    --fons2: #232323;
    --negre: #0C090A;
    --text: #d4d4d4;
    --link: #a7d350;
    --visitat: #8fb839;
    --ia: #ffb700;
    --petit: 0.8rem;
    --cos: Inter, Roboto, 'Helvetica Neue', 'Arial Nova', 'Nimbus Sans', Arial, sans-serif;
    --encap: Seravek, 'Gill Sans Nova', Ubuntu, Calibri, 'DejaVu Sans', source-sans-pro, sans-serif;
	/* scroll-behavior: smooth; */

}
/* Blocs */
body {
    margin: 0;
    padding: 0;
    font-family: var(--cos);
    font-size: 16px;
    line-height: 1.5;
    color: var(--text);
    background-color: var(--negre);
}
header, footer {
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    background-color: var(--fons2);
    text-align: center;
}
/* main + aside */
div.pagina {
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    background-color: var(--fons);
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: flex-start;
}
main {
    flex: 1;
    padding: 2rem;
    height: 100%;
    border-left: 2px solid var(--fons2);
}
/* Menú */
aside {
    flex: 0 0 auto;
    position: sticky; /* fixat a dalt */
    top: 0rem;
    padding: 2rem;
}
aside ul, nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
/* Enllaços menú */
aside a, nav a {
    display: block;
    box-sizing: border-box;
    width: 100%;
    padding: 0 1rem;
    font-size: 1rem;
    line-height: 2rem;
    color: var(--text);
    border-radius: 10px;
    text-decoration: none;
}
aside a:visited, nav a:visited {
    color: var(--text);
}
aside a:hover, nav a:hover, aside a:focus, nav a:focus {
    background-color: var(--link);
    color: var(--negre);
    text-decoration: none;
}
/* Peu de pàgina */
footer p {
    margin: 0;
    padding: 2rem 0;
    font-size: var(--petit);
}
footer a, footer a:visited {
    color: var(--text);
}
footer a:active {
    color: var(--negre);
}
/* Seccions */
article {
    padding-bottom: 3rem;
    border-bottom: 2px solid var(--fons2);
}
main article:last-of-type {
    border-bottom: 0;
}
article div {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: flex-start;
    gap: 10px;
}
/* enllaç genèric */
a {
    color: var(--link);
    text-decoration: none;
}
a:hover, a:focus {
    text-decoration: underline;
}
a:visited {
    color: var(--visitat);
}
a:active {
    color: var(--negre);
    background-color: var(--link);
}
/* Enllaços caràtules */
article div a {
    flex: 0;
    color: var(--text);
    background-color: var(--fons);
    border-radius: 10px;
    text-decoration: none;
}
article div a:visited {
    color: var(--text);
    background-color: var(--fons2);
}
/* colors enllaços */
article div a:hover, article div a:focus {
    background-color: var(--link);
    color: var(--negre);
    text-decoration: none;
}
#ve a:hover, #ve a:focus {
    background-color: #15317E;
    color: var(--text);
}
#vep a:hover, #vep a:focus {
    background-color: #C11B17;
    color: var(--text);
}
#vec a:hover, #vec a:focus {
    background-color: #F535AA;
    color: var(--negre);
}
#veso a:hover, #veso a:focus {
    background-color: #FF7F50;
    color: var(--negre);
}
#nuv a:hover, #nuv a:focus {
    background-color: #54C571;
    color: var(--negre);
}
#ar a:hover, #ar a:focus {
    background-color: #307D7E;
    color: var(--negre);
}
#vest a:hover, #vest a:focus {
    background-color: #2B3856;
    color: var(--text);
}
#mt a:hover, #mt a:focus {
    background-color: #FFF8C6;
    color: var(--negre);
}
#vepm a:hover, #vepm a:focus {
    background-color: #E2A76F;
    color: var(--negre);
}
#vefu a:hover, #vefu a:focus {
    background-color: black;
    color: var(--text);
}
#vez a:hover, #vez a:focus {
    background-color: #827839;
    color: var(--negre);
}
article div a:active, aside a:active {
    opacity: 50%;
}
/* caràtules */
figure {
    position: relative;
    margin: 0;
    width: 127px;
    padding: 10px;
    text-align: center;
}
/* marca IA */
span.ia { 
    background-color: var(--ia);
    color: var(--negre);
    padding: 0.2rem 0.25rem;
    border-radius: 50%;
}
figure span.ia {
    padding: 0.2rem 0.4rem;
    filter: drop-shadow(3px 3px 3px var(--negre));
    position: absolute;
    top: 140px;
    right: 20px;
}
/* Blocs de text */
main p {
    width: 90%;
    max-width: 960px;
    margin: 0 0 1rem 10px;
}
p.petit {
    margin-top: 2rem;
    font-size: var(--petit);
}
/* Encapçalaments */
h1 {
    margin: 0;
    padding: 2rem 1rem;
    font-family: var(--encap);
    font-weight: 500;
    font-size: 4rem; /* fallback */
    font-size: clamp(2.2rem, 4vw, 4rem);
    text-shadow: 3px 3px 3px var(--negre);
}
h2 {
    font-family: var(--encap);
    font-weight: 500;
    font-size: 2.5rem; /* fallback */
    font-size: clamp(1.6rem, 2.5vw, 2.5rem);
    margin-top: 3rem;
    margin-bottom: 1rem;
    text-shadow: 2px 2px 2px var(--negre);
}
/* Menú escriptori */
input#menu {
    display: none; /* sempre ocult */
}
nav {
    display: none; /* ocultar per a escriptori */
}
/* Botó tornar a dalt */
a.top {
	display: inline-block;
	position: fixed;
	bottom: 1rem;
	right: min(3rem,5vw);
	line-height: 1rem;
	opacity: 0.5;
    padding: 0.5rem;
    background-color: var(--text);
    color: var(--negre);
    border-radius: 50%;
    text-decoration: none;
}
a.top:hover {
	opacity: 1;
}
/* Adaptació a mòbil */
@media screen and (max-width: 930px) {
    div.pagina {
        flex-flow: column nowrap;
    }
    main {
        padding: 1rem;
    }
    aside {
        display: none; /* ocultar barra lateral */       
    }
    nav {
        display: block; /* mostrar botó menú */
		/* position: sticky;
		z-index: 2; */
		top: 0;
        background-color: var(--fons2);
        width: 100%;
        border-top: 2px solid var(--fons);
    }
    nav label {
        display: block;
        cursor: pointer;
        padding-left: 1rem;
    }
    nav  ul {
        display: none;
        padding-bottom: 1rem;
        flex-flow: row wrap;
        justify-content: flex-start;
        align-items: flex-start;
        align-content: flex-start;
    }
    input#menu:checked + nav svg {
        fill: var(--link);
    }
    input#menu:checked + nav ul {
        display: flex; /* mostrar menú al fer click */
    }
}